{insert_metric,
 <<"INSERT INTO metrics"
   " (user_id, name, host, aggregation)"
   " VALUES ($1, $2, $3, $4);">>}.

{insert_resolution,
 <<"INSERT INTO resolutions"
   " (metric_id, interval, count, persisted)"
   " VALUES ("
   "  (SELECT id FROM metrics WHERE user_id = $1"
   "  AND name = $2 AND host = $3),"
   "  $4, $5, $6);">>}.

{insert_user,
 <<"INSERT INTO users"
   " (username, port, email, password) VALUES ($1, $2, $3, $4);">>}.

{select_metric_aggregation,
 <<"SELECT aggregation FROM metrics"
   " WHERE user_id = $1"
   " AND name = $2 AND host = $3;">>}.

{select_metric_resolutions,
 <<"SELECT id, interval, count, persisted FROM resolutions"
   " WHERE metric_id = (SELECT id from metrics where user_id = $1"
   " AND name = $2 AND host = $3);">>}.

{used_ports, <<"SELECT port FROM users;">>}.

{update_persisted,
 <<"UPDATE resolutions"
   " SET persisted = array_append(persisted, $2)"
   " WHERE id = $1">>}.

{select_user_id, <<"SELECT id FROM users WHERE username = $1">>}.

{select_hosts,
 <<"SELECT DISTINCT host FROM metrics WHERE user_id = $1">>}.

{find_metrics,
 <<"SELECT name FROM metrics"
   " WHERE user_id = $1"
   " AND name LIKE $2">>}.

{all_users,
 <<"SELECT username, password, port, id FROM users;">>}.
