{insert_metric,
 <<"INSERT INTO metrics"
   " (username, name, host, aggregation)"
   " VALUES ((SELECT id FROM users WHERE username = $1), $2, $3, $4);">>}.

{insert_resolution,
 <<"INSERT INTO resolutions"
   " (metric_id, interval, count, persisted)"
   " VALUES ("
   "  (SELECT id FROM metrics WHERE username ="
   "   (SELECT id from users where username = $1)"
   "  AND name = $2 AND host = $3),"
   "  $4, $5, $6);">>}.

{select_metric_aggregation,
 <<"SELECT aggregation FROM metrics"
   " WHERE username = (SELECT id from users where username = $1)"
   " AND name = $2 AND host = $3;">>}.

{select_metric_resolutions,
 <<"SELECT * FROM resolutions"
   " WHERE metric_id = (SELECT id from metrics where username = "
   "  (SELECT id from users where username = $1)"
   " AND name = $2 AND host = $3);">>}.

{update_persisted,
 <<"UPDATE resolutions"
   " SET persisted = array_append(persisted, $6)"
   " WHERE id = (SELECT id from metrics where username = "
   "  (SELECT id from users where username = $1)"
   " AND name = $2 AND host = $3"
   " AND interval = $4 AND count = $5);">>}.


