%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager.git",
        {tag, "2.0.1"}}},
    {folsom, ".*", {git, "https://github.com/boundary/folsom.git",
        {tag, "0.8.0"}}}
]}.

{erl_opts, [{parse_transform, lager_transform}]}.

{lib_dirs, ["apps"]}.

{sub_dirs, [
    "rel",
    "apps/oscilloscope",
    "apps/oscilloscope_cache",
    "apps/oscilloscope_http",
    "apps/oscilloscope_net",
    "apps/oscilloscope_metadata",
    "apps/oscilloscope_persistence"
]}.
