%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{deps, [
  {poolboy, ".*", {git, "git@github.com:devinus/poolboy.git",
      {tag, "1.4.2"}}},
  {commutator, ".*", {git, "git@github.com:banjiewen/commutator.git",
      {branch, "master"}}},
  {pqueue, ".*", {git, "git@github.com:okeuday/pqueue.git",
      {tag, "v1.4.0"}}}
]}.
