%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{deps, [
  {webmachine, ".*", {git, "git://github.com/basho/webmachine",
      {tag, "1.10.3"}}},
  {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git",
      {tag, "0.8.4"}}},
  {bcrypt, ".*", {git, "git://github.com/smarkets/erlang-bcrypt.git",
      {tag, "0.5.0"}}}
]}.
