{get_metric, <<"SELECT id, aggregation FROM metrics WHERE owner_id = $1 AND hash = $2;">>}.

{get_metric_resolutions,
<<"SELECT "
  "    metrics.id, "
  "    metrics.aggregation, "
  "    resolutions.id, "
  "    resolutions.interval, "
  "    resolutions.count "
  "FROM metrics "
  "INNER JOIN resolutions ON metrics.id = resolutions.metric_id "
  "WHERE metrics.owner_id = $1 "
  "AND metrics.hash = $2;">>}.

{add_metric,
 <<"INSERT INTO metrics"
   " (owner_id, hash, aggregation)"
   " VALUES ($1, $2, $3)"
   " RETURNING id;">>}.

{add_resolution,
 <<"INSERT INTO resolutions"
   " (metric_id, interval, count)"
   " VALUES ($1, $2, $3);">>}.

{add_tag,
 <<"INSERT INTO tags"
   " (owner_id, metric_id, key, value)"
   " VALUES ($1, $2, $3, $4);">>}.

{get_persists,
 <<"SELECT timestamp, count FROM persists WHERE resolution_id = $1;">>}.

{get_user_by_name, <<"SELECT * FROM users WHERE name=$1;">>}.

{get_user_by_id, <<"SELECT * FROM users WHERE id=$1;">>}.

{get_emails_by_name,
 <<"SELECT email FROM emails WHERE user_id=(SELECT id FROM users WHERE name=$1);">>}.

{get_emails_by_id, <<"SELECT email FROM emails WHERE user_id=$1">>}.

{create_user,
 <<"WITH owner AS (INSERT INTO owners DEFAULT VALUES RETURNING id)"
   " INSERT INTO users (name, password, owner_id)"
   " SELECT $1, $2, id FROM owner RETURNING id;">>}.

{add_email, <<"INSERT INTO emails (user_id, email) VALUES ($1, $2);">>}.

{remove_email, <<"DELETE FROM emails WHERE user_id=$1 AND email=$2;">>}.

{change_password, <<"UPDATE users SET password=$2 WHERE id=$1">>}.

{delete_emails, <<"DELETE FROM emails WHERE user_id=$1;">>}.
{delete_user, <<"DELETE FROM users WHERE id=$1;">>}.
{remove_user_from_all_orgs, <<"DELETE FROM org_members WHERE user_id=$1;">>}.
{remove_user_from_all_teams, <<"DELETE FROM team_members WHERE user_id=$1;">>}.

{get_user_teams,
 <<"SELECT team_id FROM team_members WHERE org_id=$1 AND user_id=$2;">>}.

{get_user_orgs,
 <<"SELECT orgs.id, orgs.name"
   " FROM orgs"
   " JOIN org_members on orgs.id = org_members.org_id"
   " WHERE org_members.user_id=$1;">>}.

{get_team_by_name, <<"SELECT id, org_id FROM teams WHERE name=$1;">>}.

{get_team_by_id, <<"SELECT name, org_id FROM teams WHERE id=$1;">>}.

{create_team,
    <<"INSERT INTO teams (org_id, name) VALUES ($1, $2) RETURNING id;">>}.

{delete_team, <<"DELETE FROM teams WHERE org_id=$1 AND team_id=$2;">>}.
{delete_team_members, <<"DELETE FROM team_members WHERE org_id=$1 AND team_id=$2;">>}.

{get_team_members,
 <<"SELECT user_id FROM team_members WHERE org_id=$1 AND team_id=$2;">>}.

{add_team_member,
 <<"INSERT INTO team_members (org_id, team_id, user_id) VALUES ($1, $2, $3);">>}.

{remove_team_member,
 <<"DELETE FROM team_members WHERE org_id=$1 AND team_id=$2 AND user_id=$3;">>}.

{is_team_member, <<"SELECT EXISTS(SELECT 1 FROM team_members WHERE org_id=$1 AND team_id=$2 AND user_id=$3);">>}.

{get_org_by_name, <<"SELECT * FROM orgs WHERE name=$1;">>}.

{get_org_by_id, <<"SELECT * FROM orgs WHERE id=$1;">>}.

{create_org,
 <<"WITH org AS ("
   " INSERT INTO orgs"
   "     (owner_id, name)"
   "   SELECT"
   "     owner_id, $2"
   "   FROM"
   "     users"
   "   WHERE"
   "     id=$1"
   "   RETURNING id"
   " )"
   " INSERT INTO teams"
   "     (name, org_id)"
   "   SELECT"
   "     'owners', id"
   "   FROM"
   "     org"
   "   RETURNING id;">>}.
{add_org_member_by_org_name,
 <<"INSERT INTO org_members"
   "   (org_id, user_id)"
   " SELECT"
   "   id, $1"
   " FROM"
   "   orgs"
   " WHERE"
   "   name=$2;">>}.
{add_owner_by_org_name,
 <<"INSERT INTO team_members"
   "   (org_id, team_id, user_id)"
   " SELECT"
   "   org_id, id, $1"
   " FROM"
   "   teams"
   " WHERE"
   "   name='owners' AND org_id=(SELECT id FROM orgs WHERE name=$2);">>}.

{delete_org, <<"DELETE FROM orgs WHERE id=$1;">>}.
{delete_org_members, <<"DELETE FROM org_members WHERE org_id=$1;">>}.
{delete_teams, <<"DELETE FROM teams WHERE org_id=$1;">>}.
{delete_org_team_members, <<"DELETE FROM team_members WHERE org_id=$1;">>}.

{get_org_teams, <<"SELECT id FROM teams WHERE org_id=$1;">>}.

{get_org_members, <<"SELECT user_id FROM org_members WHERE org_id=$1">>}.

{is_org_owner, <<"SELECT EXISTS(SELECT 1 FROM team_members WHERE org_id=$2 AND team_id=(SELECT id FROM teams WHERE org_id=$2 AND name='owners') AND user_id=$1)">>}.

{add_org_member, <<"INSERT INTO org_members (org_id, user_id) VALUES ($1, $2);">>}.

{remove_org_member, <<"DELETE FROM org_members WHERE org_id=$1 AND user_id=$2;">>}.
{remove_org_member_from_teams, <<"DELETE FROM team_members WHERE org_id=$1 AND user_id=$2;">>}.

{is_org_member,
    <<"SELECT EXISTS(SELECT 1 FROM org_members WHERE org_id=$1 AND user_id=$2);">>}.
