{insert_metric,
 <<"INSERT INTO metrics"
   " (owner_id, encoded_props, aggregation)"
   " VALUES ($1, $2, $3);">>}.

{insert_resolution,
 <<"INSERT INTO resolutions"
   " (metric_id, interval, count)"
   " VALUES ($1, $2, $3);">>}.

{insert_tag,
 <<"INSERT INTO tags"
   " (metric_id, key, value)"
   " VALUES ($1, $2, $3);">>}.

{select_persists,
 <<"SELECT timestamp, count FROM persists WHERE resolution_id = $1;">>}.

{create_user,
 <<"WITH owner_id AS (
    INSERT INTO owners RETURNING id) 
        INSERT INTO users (id, password, owner_id)
        VALUES ($1, $2, owner_id) RETURNING id;">>}.

{add_email, <<"INSERT INTO emails (user_id, email) VALUES ($1, $2);">>}.

{remove_email, <<"DELETE FROM emails WHERE user_id=$1 AND email=$2;">>}.

{change_password, <<"UPDATE users SET password=$2 WHERE id=$1">>}.

{delete_user,
 <<"BEGIN;
    DELETE FROM team_members WHERE user_id=$1;
    DELETE FROM org_members WHERE user_id=$1;
    DELETE FROM users WHERE id=$1;
    COMMIT">>}.

{get_user_teams,
 <<"SELECT team_id FROM team_members WHERE org_id=$1 AND user_id=$2;">>}.

{get_user_orgs,
 <<"SELECT org_id FROM org_members WHERE user_id=$1;">>}.

{create_team,
    <<"INSERT INTO teams (org_id, name) VALUES ($1, $2);">>}.

{delete_team,
 <<"BEGIN;
   DELETE FROM teams WHERE org_id=$1 AND team_id=$2;
   DELETE FROM team_members WHERE org_id=$1 AND team_id=$2;
   COMMIT;">>}.

{get_team_members,
 <<"SELECT user_id FROM team_members WHERE org_id=$1 AND team_id=$2;">>}.

{add_team_member,
 <<"INSERT INTO team_members (org_id, team_id, user_id) VALUES ($1, $2, $3);">>}.

{remove_team_member,
 <<"DELETE FROM team_members WHERE org_id=$1 AND team_id=$2 AND user_id=$3">>}.

{is_team_member, <<"SELECT EXISTS(SELECT 1 FROM team_members WHERE org_id=$1 AND team_id=$2 AND user_id=$3">>}.

{create_org,
 <<"WITH org_id AS (
    INSERT INTO orgs (owner_id, name) VALUES ($1, $2) RETURNING id) (
        INSERT INTO org_members (user_id, org_id) VALUES ($1, org_id);
        WITH team_id AS (
        INSERT INTO teams (name) VALUES (\"owners\") RETURNING id) (
            INSERT INTO team_members (org_id, team_id, user_id) VALUES (org_id, team_id, $1) RETURNING org_id
        )
    );">>}.


{delete_org,
 <<"BEGIN;
    DELETE FROM org_members WHERE org_id=$1;
    DELETE FROM team_members WHERE org_id=$1;
    DELETE FROM orgs WHERE id=$1;
    COMMIT;">>}.

{get_org_teams, <<"SELECT id FROM teams WHERE org_id=$1;">>}.

{get_org_members, <<"SELECT user_id FROM org_members WHERE org_id=$1">>}.

{is_org_owner, <<"WITH owner_team_id AS (SELECT id FROM teams WHERE org_id=$2 AND name="owners") SELECT EXISTS(SELECT 1 FROM team_members WHERE org_id=$2 AND team_id=owner_team_id AND user_id=$1">>}.

{add_org_member, <<"INSERT INTO org_members (org_id, user_id) VALUES ($1, $2);">>}.

{remove_org_member, <<"BEGIN;
    DELETE FROM org_members WHERE org_id=$1 AND user_id=$2;
    DELETE FROM team_members WHERE org_id=$1 AND user_id=$2;
    COMMIT;">>}.

{is_org_member,
    <<"SELECT EXISTS(SELECT 1 FROM org_members WHERE org_id=$1 AND user_id=$2">>}.
