%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{deps, [
    {erp, ".*", {git, "https://e8e5dac1c182edf9b2066a1f893bc989b6649428@github.com/banjiewen/erp.git",
        {branch, "master"}}},
    {commutator, ".*", {git, "https://e8e5dac1c182edf9b2066a1f893bc989b6649428@github.com/banjiewen/commutator.git",
        {branch, "master"}}}
]}.
