{sys, [
    {lib_dirs, ["../apps", "../deps"]},
    {erts, [{mod_cond, derived}, {app_file, strip}]},
    {app_file, strip},
    {rel, "oscilloscope", "0.0.1", [
        kernel,
        stdlib,
        sasl,
        inets,
        crypto,
        mochiweb,
        webmachine,
        jiffy,
        eredis,
        poolboy,
        ranch,
        epgsql,
        erlsha2,
        ibrowse,
        erp,
        commutator,
        oscilloscope_cache,
        oscilloscope_net,
        oscilloscope_sql,
        oscilloscope_query
    ]},
    {rel, "start_clean", "", [
        kernel,
        stdlib
    ]},
    {boot_rel, "oscilloscope"},
    {profile, embedded},
    {excl_archive_filters, [".*"]},
    {excl_sys_filters, [
        "^bin/.*", "^erts.*/bin/(dialyzer|typer)",
        "^erts.*/(doc|info|include|lib|man|src)"
    ]},
    {app, oscilloscope_cache, [{incl_cond, include}]},
    {app, oscilloscope_net, [{incl_cond, include}]},
    {app, oscilloscope_sql, [{incl_cond, include}]},
    {app, oscilloscope_query, [{incl_cond, include}]}
]}.

{overlay, [
    {mkdir, "log/sasl"},
    {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
    {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
    {copy, "files/oscilloscope", "bin/oscilloscope"},
    {copy, "files/oscilloscope.cmd", "bin/oscilloscope.cmd"},
    {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
    {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
    {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
    {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
]}.
