%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{sys, [
    {lib_dirs, ["../apps", "../deps"]},
    {erts, [{mod_cond, derived}, {app_file, strip}]},
    {app_file, strip},
    {rel, "osc", "0.0.1", [
        kernel,
        stdlib,
        sasl,
        inets,
        crypto,
        folsom,
        lager,
        mochiweb,
        webmachine,
        jiffy,
        poolboy,
        cowlib,
        ranch,
        cowboy,
        epgsql,
        erlsha2,
        ibrowse,
        bcrypt,
        osc,
        osc_sql,
        osc_meta,
        osc_persistence,
        osc_http,
        sync
    ]},
    {rel, "start_clean", "", [
        kernel,
        stdlib
    ]},
    {boot_rel, "osc"},
    {profile, embedded},
    {excl_archive_filters, [".*"]},
    {excl_sys_filters, [
        "^bin/.*", "^erts.*/bin/(dialyzer|typer)",
        "^erts.*/(doc|info|include|lib|man|src)"
    ]},
    {app, osc, [{incl_cond, include}]},
    {app, osc_sql, [{incl_cond, include}]},
    {app, osc_meta, [{incl_cond, include}]},
    {app, osc_persistence, [{incl_cond, include}]},
    {app, osc_http, [{incl_cond, include}]}
]}.

{target_dir, "osc"}.

{overlay_vars, "vars.config"}.

{overlay, [
    {mkdir, "data/ring"},
    {mkdir, "log/sasl"},
    {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
    {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
    {template, "files/app.config", "etc/app.config"},
    {template, "files/vm.args", "etc/vm.args"},
    {template, "files/osc", "bin/osc"},
    {template, "files/osc-admin", "bin/osc-admin"}
]}.
