%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{sys, [
    {lib_dirs, ["../apps", "../deps"]},
    {erts, [{mod_cond, derived}, {app_file, strip}]},
    {app_file, strip},
    {rel, "oscilloscope", "0.0.1", [
        kernel,
        stdlib,
        sasl,
        inets,
        crypto,
        folsom,
        lager,
        mochiweb,
        webmachine,
        jiffy,
        poolboy,
        ranch,
        epgsql,
        erlsha2,
        ibrowse,
        bcrypt,
        oscilloscope,
        oscilloscope_net,
        oscilloscope_metadata,
        oscilloscope_entities,
        oscilloscope_auth,
        oscilloscope_persistence,
        oscilloscope_http
    ]},
    {rel, "start_clean", "", [
        kernel,
        stdlib
    ]},
    {boot_rel, "oscilloscope"},
    {profile, embedded},
    {excl_archive_filters, [".*"]},
    {excl_sys_filters, [
        "^bin/.*", "^erts.*/bin/(dialyzer|typer)",
        "^erts.*/(doc|info|include|lib|man|src)"
    ]},
    {app, oscilloscope, [{incl_cond, include}]},
    {app, oscilloscope_net, [{incl_cond, include}]},
    {app, oscilloscope_metadata, [{incl_cond, include}]},
    {app, oscilloscope_persistence, [{incl_cond, include}]},
    {app, oscilloscope_entities, [{incl_cond, include}]},
    {app, oscilloscope_auth, [{incl_cond, include}]},
    {app, oscilloscope_http, [{incl_cond, include}]}
]}.

{target_dir, "oscilloscope"}.

{overlay_vars, "vars.config"}.

{overlay, [
    {mkdir, "data/ring"},
    {mkdir, "log/sasl"},
    {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
    {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
    {template, "files/app.config", "etc/app.config"},
    {template, "files/vm.args", "etc/vm.args"},
    {template, "files/oscilloscope", "bin/oscilloscope"},
    {template, "files/oscilloscope-admin", "bin/oscilloscope-admin"}
]}.
