{insert_metric,
 <<"INSERT INTO metrics"
   " (owner_id, props, aggregation)"
   " VALUES ($1, $2, $3);">>}.

{insert_resolution,
 <<"INSERT INTO resolutions"
   " (metric_id, interval, count)"
   " VALUES ($1, $2, $3);">>}.

{insert_user,
 <<"INSERT INTO users"
   " (name, email, password, owner_id) VALUES ($1, $2, $3, $4) RETURNING id;">>}.

{select_metric,
<<"SELECT "
  "    metrics.id, "
  "    metrics.aggregation, "
  "    resolutions.id, "
  "    resolutions.interval, "
  "    resolutions.count "
  "FROM metrics "
  "INNER JOIN resolutions ON metrics.id = resolutions.metric_id "
  "WHERE metrics.owner_id = $1 "
  "AND metrics.props = $2;">>}.

{select_metric_id,
 <<"SELECT id FROM metrics WHERE owner_id = $1 AND props = $2;">>}.

{select_used_ports, <<"SELECT owner_id, port FROM ports;">>}.

{insert_port, <<"INSERT INTO ports (owner_id, host, port) VALUES ($1, $2, $3);">>}.

{select_persists,
 <<"SELECT timestamp, count FROM persists WHERE resolution_id = $1;">>}.

{insert_persist,
 <<"INSERT INTO persists"
   " (resolution_id, timestamp, count) VALUES"
   " ($1, $2, $3);">>}.

{delete_persist,
 <<"DELETE FROM persists"
   " WHERE resolution_id = $1"
   " AND timestamp = $2;">>}.

{select_user_id, <<"SELECT id FROM users WHERE name = $1">>}.

{find_metrics,
 <<"SELECT name FROM metrics"
   " WHERE user_id = $1"
   " AND name LIKE $2">>}.

{select_users,
 <<"SELECT id, owner_id, name, email, password FROM users;">>}.

{select_team_members,
 <<"SELECT * FROM users INNER JOIN team_members (team_members.team_id = $1);">>}.

{select_users_teams, <<"SELECT * FROM teams INNER JOIN team_members (team_members.user_id = $1);">>}.

{user_join_org, <<"INSERT INTO org_members (org_id, user_id) VALUES ($1, $2);">>}.

{user_join_team, <<"INSERT INTO team_members (team_id, user_id) VALUES ($1, $2);">>}.

{insert_owner, <<"INSERT INTO owners DEFAULT VALUES RETURNING id;">>}.

{insert_org, <<"INSERT INTO orgs name VALUES $1 RETURNING id;">>}.

{insert_team, <<"INSERT INTO teams (name, org_id) VALUES ($1, $2) RETURNING id;">>}.

{get_tags, <<"SELECT (owner_id, tag_name, metric_id) FROM tags ORDER BY owner_id, tag_name;">>}.

{get_user_org_teams, <<"SELECT (user_id, org_id, team_id) FROM team_members;">>}.

{get_orgs, <<"SELECT (id, name) FROM orgs;">>}.

{get_metrics, <<"SELECT (id, name) FROM orgs;">>}.
